<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chenbing.iceweather">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.DIAGNOSTIC"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
    android:name="com.chenbing.coorchicelibone.IceApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name="com.chenbing.coorchicelibone.Views.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.TableActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.SideSlipListActivity">
    </activity>
    <activity
      android:name="com.chenbing.coorchicelibone.Views.DrawTextActivity"
      android:windowSoftInputMode="adjustResize">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.HeaderFooterRecyclerViewActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.CrackPasswordActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.CustomLayoutManagerActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.DraggerRecyclerViewActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.WindowActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.WebActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.HorizontalPinterestActivity">
    </activity>
    <activity
      android:name="com.chenbing.coorchicelibone.Views.TabActivity"
      android:label="@string/title_activity_tab"
      android:theme="@style/AppTheme">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.RxJavaActivity">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.DrawActivity">
    </activity>
    <activity
      android:name="com.chenbing.coorchicelibone.Views.TaskActivity_A"
      android:launchMode="singleTask">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.TaskActivity_B">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.TaskActivity_C">
    </activity>
    <activity android:name="com.chenbing.coorchicelibone.Views.CalendarActivity">
    </activity>
  </application>

</manifest>